annotated-types==0.8.0
antlr4-python3-runtime==4.9.3
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
dropout_layer_norm @ file:///opt/hbv/galvatron-h20-results/install/wheels/dropout_layer_norm-0.1-cp310-cp310-linux_x86_64.whl#sha256=d6ed300e69089a9d04a76d41bd8380482ba7200187e957e9ed515c8eb5987ddb
einops==0.8.2
exceptiongroup==1.3.1
filelock==4.0.1
flash_attn @ file:///opt/hbv/galvatron-h20-results/install/wheels/flash_attn-2.8.3-cp310-cp310-linux_x86_64.whl#sha256=aca8afb4e874fd6b77deeea9ed4366a073e6f11c9622fa1d4765d9e66540f056
fsspec==2026.9.0
h5py==3.16.0
-e git+https://github.com/PKU-DAIR/Hetu-Galvatron.git@cea12ffb146a220643c8f99f9cb84294755d29f8#egg=hetu_galvatron
hf-xet==1.6.0
huggingface_hub==0.36.2
hydra-core==1.3.2
idna==3.20
iniconfig==2.3.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
ninja==1.13.2
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.1
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
psutil==7.2.2
pybind11==3.1.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
PyYAML==6.0.3
regex==2026.9.10
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
scipy==1.15.3
sentencepiece==0.2.2
six==1.17.0
sympy==1.14.0
tokenizers==0.21.4
tomli==2.4.1
torch==2.9.0
torchvision==0.24.0
tqdm==4.70.1
transformers==4.49.0
triton==3.5.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
yacs==0.1.8
